/************************** FONTS ******************************/

@font-face {
  font-family: "aileronregular";
  src: url("fonts/Aileron-Regular-webfont.eot");
  src: url("fonts/Aileron-Regular-webfont.eot?#iefix")
      format("embedded-opentype"),
    url("fonts/Aileron-Regular-webfont.woff2") format("woff2"),
    url("fonts/Aileron-Regular-webfont.woff") format("woff"),
    url("fonts/Aileron-Regular-webfont.ttf") format("truetype"),
    url("fonts/Aileron-Regular-webfont.svg#aileronregular") format("svg");
  font-weight: normal;
  font-style: normal;
}

/**********************************************BODY************************************************************/
.bloc_page {
  display: flex;
  flex-direction: row;
  max-width: 800px;
  margin: 40px auto;
  box-shadow: 0px 4px 5px #cccccc;
}

.edge {
  display: flex;
  flex-direction: column;
  background-color: #16a085;
  width: 300px;
}

.profile_picture_rd {
  display: none;
}
.aboutMe__rd {
  display: none;
}
/****************************************** edge *****************************************************/
.edge {
  border-radius: 5px;
}
.edge__photo {
  border-radius: 100%;
  display: block;
  justify-content: center;
  margin-top: 50px;
  margin-bottom: 80px;
  margin-right: 35px;
  margin-left: 35px;
  border: 3px #f5f7f6f5 solid;
}
.edge__title {
  text-align: center;
  background-color: #f5f7f6f5;
  font-size: 1.1em;
  color: #16a084ef;
  padding-top: 5px;
  padding-bottom: 5px;
  border: 3px #16a085 solid;
  border-radius: 5px;
}
.edge p {
  margin-left: 20px;
  margin-right: 20px;
  font-size: 0.9em;
  text-align: justify;
}
.edge__contact {
  height: 20%;
}
.edge__contact__info {
  margin-left: 5px;
}
.edge__aboutMe {
  height: 60%;
}
.edge_icons {
  display: flex;
  justify-content: space-around;
  padding-bottom: 20px;
}
.edge_icons i {
  color: #171818;
}
.edge_icons-linkedin
{
    margin-left: 80px;
}
.edge_icons-linkedin i{
    color: #171818;
}

.edge__aboutMe p {
  margin-top: 25px;
}
a{
    color: aquamarine;
}
/******************************************* content ***************************************************/
.page__content {
  width: 500px;
  padding: 25px;
}
.content__title {
  margin-top: 70px;
  margin-bottom: 70px;;
}
.content__title--color {
  color: #16a084e8;
}
.content__title--underline {
  border-bottom: 2px #16a084e8 solid;
}
h1 {
  font-family: "aileronregular", Arial, Serif;
  font-size: 3.5em;
  margin-bottom: 0px;
}
i {
  color: #16a084e8;
}
.title {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  border-bottom: 3px #16a084e8 solid;
}
.title h2 {
  margin-left: 20px;
  
}

.content {
  display: flex;
  flex-flow: row wrap; 
  margin-bottom: 10px;
  margin-top:10px;
}
.content__date{
  display: flex;
  flex-direction: row;
  margin-right: 20px;
  width: 30%;
}
.content__text{
  width:65%
}
.content p{
  margin-top: 0px;
  margin-left: 10px;
  text-align: justify;
}
h3{
  margin-top: 0px;
  margin-bottom: 5px;
}
/*********************************************r RESPONSIVE DESIGN *******************************************************/
/******************Tablettes*****************************/
@media all and (max-width: 991px) {
  .profile_picture_rd {
    margin-top: 25px;
    display: block;
    margin-left: 35%;
    border: 4px #16a084e8 solid;
    border-radius: 100%;
  }
  .aboutMe__rd {
    display: flex;
    justify-content: center;
    border: 2px #16a084e8 solid;
    background-color: #16a084e8 ;
    padding-left: 10px;
    border-radius: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .bloc_page {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    width: auto;
  }
  .content__title {
    margin-top: 0px;
    padding-top: 0px;
    padding-left: 20%;
  }
  h1 {
    margin-top: 0px;
  }
  .page__content {
    width: auto;
    padding: 25px;
  }
  .edge {
    background-color: #16a084e8;
    width: auto;
    padding-left: 10px;
    padding-right: 10px;
  }
  .edge__photo {
    display: none;
  }
  .edge_icons-linkedin i{
    margin-left: 30px;
    margin-top: 20px;
}
 
  .edge__contact__info {
    display: flex;
    flex-direction: row;
  }
  .edge__contact__info div {
    margin-right: 100px;
  }
  .content{
    width: auto;
    flex-wrap: wrap;
    border: 1px #9ee9dae8 solid;
    padding: 10px 10px 10px 10px;
    border-radius: 10px;
  }
  .content__1 {
    margin: auto;
    width: auto;
  }
  .edge__aboutMe {
    display: none;
  }
}

/***********************************Telephone *************************/
@media screen and (max-width: 425px)
{
    .profile_picture_rd{
        margin-left: 25%;
    }  
      .edge
      {
          width: auto;
      }
      .edge p{
          width: auto;
          margin-right: auto;
      }

      .edge_icons {
          display: flex;
          justify-content: centers;
      }
      .edge__contact__info div {
        margin-right: auto
      }
      .edge_icons-linkedin {
          margin-left: auto;
      }
      .content
      {
          width: auto;
          padding: 10px 10px 10px 10px;        
      }
      .bloc_page {
          width: auto;
          margin: auto;
          box-shadow: 0px 4px 5px #eeebeb;
      }
}