/************************** FONTS ******************************/

@font-face {
    font-family: 'aileronregular';
    src: url('fonts/Aileron-Regular-webfont.eot');
    src: url('fonts/Aileron-Regular-webfont.eot?#iefix') format('embedded-opentype'), url('fonts/Aileron-Regular-webfont.woff2') format('woff2'), url('fonts/Aileron-Regular-webfont.woff') format('woff'), url('fonts/Aileron-Regular-webfont.ttf') format('truetype'), url('fonts/Aileron-Regular-webfont.svg#aileronregular') format('svg');
    font-weight: normal;
    font-style: normal;
}


/**********************************************BODY************************************************************/

.bloc_page {
    display: flex;
    flex-direction: row;
    max-width: 800px;
    margin: 80px auto;
    box-shadow: 0px 4px 5px #cccccc;
}

.liseret {
    display: flex;
    flex-direction: column;
    background-color: #f1c40f;
    width: 300px;
}


/********************************body ********************************************************************/

.photo_profile_rd {
    display: none;
}


/****************************************** LISERET *****************************************************/

.liseret__photo {
    border-radius: 100%;
    display: block;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 80px;
    margin-right: 25px;
    margin-left: 25px;
    ;
}

.liseret__titre {
    text-align: center;
    background-color: #4d5656;
    font-size: 1.1em;
    color: #e6d00e;
}

.liseret p {
    margin-left: 20px;
    margin-right: 20px;
    font-size: 0.9em;
    text-align: justify;
}

.liseret__contact {
    height: 20%;
}

.liseret__contact__info {
    margin-left: 5px;
}

.liseret__propos {
    height: 60%;
}

.liseret_icons {
    display: flex;
    justify-content: space-around;
    padding-bottom: 20px;
}

.liseret_icons i {
    color: #4d5656;
}

.liseret__propos p {
    margin-top: 25px;
}


/******************************************* CONTENU ***************************************************/

.contenu {
    width: 500px;
    padding: 25px;
}

.contenu__titre {
    margin-top: 70px;
}

.contenu__titre--color {
    color: #f1c40f;
}

.contenu__titre--underline {
    border-bottom: 2px #f1c40f solid;
}

h1 {
    font-family: 'aileronregular', Arial, Serif;
    font-size: 3.5em;
    margin-bottom: 0px;
}

i {
    color: #f1c40f;
}

.formation__titre {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    border-bottom: 3px #f1c40f solid;
}

.formation__titre h2 {
    margin-left: 20px;
    margin-top: 95px;
}

.exprience__titre {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    border-bottom: 3px #f1c40f solid;
}

.exprience__titre h2 {
    margin-left: 20px;
    margin-top: 95px;
}

.recommandations__titre {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    border-bottom: 3px #f1c40f solid;
}

.recommandations__titre h2 {
    margin-left: 20px;
    margin-top: 95px;
}

.recommandations__contenu {
    display: flex;
    flex-direction: row;
}

.recommandations__contenu__1 {
    margin-right: 200px;
}

.experience__contenue,
.formation__contenu {
    display: flex;
    flex-direction: row;
}

.section__gauche__contenu {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    width: 200px;
}

.section__gauche__contenu p {
    margin-left: 20px;
    margin-bottom: 190px;
}

.section__droite__contenu {
    margin-left: 20px;
}

.section__droite__contenu p {
    text-align: justify;
}


/***************MEDIA QUERRIES**********************/

@media all and (max-width: 900px) {
    .photo_profile_rd {
        /* margin-top: 20px; */
        margin: 30px auto 0px auto;
        display: block;
        /* margin-left: 35%; */
        border: 4px #f1c40f solid;
        border-radius: 100%;
    }
    .bloc_page {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        width: auto;
    }
    .contenu__titre {
        margin-top: 0px;
        padding-top: 0px;
        padding-left: 20%;
    }
    h1 {
        margin-top: 0px;
    }
    .contenu {
        width: auto;
        padding: 25px;
    }
    .liseret {
        background-color: #f1c40f;
        width: auto;
        padding-left: 10px;
        padding-right: 10px;
    }
    .liseret__photo {
        display: none;
    }
    .recommandations__contenu__1 {
        margin-right: 100px;
    }
    .liseret__contact__info {
        display: flex;
        flex-direction: row;
    }
    .liseret__contact__info div {
        margin-right: 150px;
    }
    .section__gauche__contenu p {
        margin-bottom: 150px;
    }
}