/************************** FONTS ******************************/
@font-face {
    font-family: 'aileronregular';
    src: url('fonts/Aileron-Regular-webfont.eot');
    src: url('fonts/Aileron-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/Aileron-Regular-webfont.woff2') format('woff2'),
         url('fonts/Aileron-Regular-webfont.woff') format('woff'),
         url('fonts/Aileron-Regular-webfont.ttf') format('truetype'),
         url('fonts/Aileron-Regular-webfont.svg#aileronregular') format('svg');
    font-weight: normal;
    font-style: normal;

}


/**********************************************BODY************************************************************/
.bloc_page

{
  display: flex;
  flex-direction: row;
  widows:900px;
  padding-right: 0px;
  margin: auto ;

}
 @media all and (max-width: 1024px)
 {
   
  

      .bloc_page
      {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        width: auto;
      } 
      .liseret
      {
        width: auto;
        
    
      } 

      .contenu__titre
      {

        padding-left: 30%;

      }  
  
  
      

 }





/****************************************** LISERET *****************************************************/
.liseret
{

  display: flex;
  flex-direction:   column;  
  background-color:  #f1c40f ;
  width: 25%;
  margin-right: 40px;
   margin-left: 0px;
}
.liseret__photo 
{
  border-radius: 60%; 
  padding-top: 30px;
  display: block;
  justify-content: center;
  padding-right: 10%;
  padding-left: 10%;
  padding-bottom: 15%;
}
 
.liseret__titre
{
  text-align:   center; 
  background-color:  #4d5656;
  font-size: 1.1em;
  color: #e6d00e ;

}

.liseret p
{
  margin-left: 20px;
  margin-right: 20px;
  font-size: 0.9em; 
  text-align:   justify;
}

.liseret__contact__info 
{
  margin-left: 5px;
}

.liseret__propos
{
  height:   60%;
}

.liseret_icons
{
  display:  flex;
  justify-content:  space-around; 
  padding-bottom:   20px;
  
}
.liseret_icons i
{
  color:  #4d5656;

}


/******************************************* CONTENU ***************************************************/

.contenu

{
width:  88%;

}

.contenu__titre
{
  margin-top: 70px;

}
.contenu__titre--color
{
  color: #f1c40f ;
}
.contenu__titre--underline
{
  border-bottom:  2px  #f1c40f  solid;
 
}
h1{
  font-family: 'aileronregular', Arial, Serif; 
  font-size: 3.5em;
  margin-bottom: 0px; 
}
i
{
  color:  #f1c40f ;
}


.formation__titre
{
  display:  flex;
  flex-direction: row;
  align-items: baseline;
  border-bottom:  3px  #f1c40f  solid;
 
}

.formation__titre h2
{
  margin-left: 20px;
  margin-top: 95px;

}

.exprience__titre
{
  display:  flex;
  flex-direction: row;
  align-items: baseline;
  border-bottom:  3px  #f1c40f solid;
 
}
.exprience__titre h2

{
 
   margin-left: 20px;
   margin-top: 95px;
 
}
.recommandations__titre
{
  display:  flex;
  flex-direction: row;
  align-items: baseline;
  border-bottom:  3px  #f1c40f  solid;
 
}
.recommandations__titre h2

{
 
   margin-left: 20px;
   margin-top: 95px;
 
}

.recommandations__contenu
{
  display:  flex;
  flex-direction: row;  
 
 
}

.recommandations__contenu__1
{
margin-right: 500px;

}

.experience__contenue, .formation__contenu
{
  display: flex;
  flex-direction: row;  
}
.section__gauche__contenu
{
  display:  flex;
  flex-direction:   row;
  align-items:  baseline; 
  width: 200px;



}
.section__gauche__contenu p
{
  margin-left: 25px;
  margin-bottom: 100px;
}
.section__droite__contenu
{
  margin-left: 20px;
}



