/*SOMMAIRE
------------------------------------------------------
1. MISE EN PAGE GÉNÉRALE 
2. PARTIE GAUCHE (EDGE)
3. PARTIE DROITE (PAGE_CONTENT)
4. RESPONSIVE DESIGN
*/

/*MISE EN PAGE GÉNÉRALE 
*******************************************************************/
body {
  background-color: #f5f5f5;
  font-family: "Roboto", sans-serif;
}
.light__text {
  font-weight: 300;
}
.bloc_page {
  display: flex;
  flex-direction: row;
  max-width: 800px;
  margin: 40px auto;
  box-shadow: 0px 4px 5px #cccccc;
  background-color: white;
}
.profile_picture_rd {
  display: none;
}
.aboutMe__rd {
  display: none;
}

/* edge 
******************************************************************/
.edge {
  display: flex;
  flex-direction: column;
  background-color: #64a1a5;
  border-radius: 5px;
  width: 300px;
  color: #f5f5f5;
}
.edge__photo {
  border-radius: 100%;
  display: block;
  justify-content: center;
  margin-top: 50px;
  margin-bottom: 80px;
  margin-right: 40px;
  margin-left: 40px;
  border: 3px #f5f7f6f5 solid;
  width: 200px;
}
.edge__title {
  text-align: center;
  background-color: white;
  font-size: 1.1em;
  color: #382463;
  padding-top: 5px;
  padding-bottom: 5px;
}
.edge p {
  margin-left: 20px;
  margin-right: 20px;
  font-size: 0.9em;
  text-align: justify;
}
.edge__contact {
  height: 20%;
}
.edge__contact__info {
  margin-left: 5px;
}
.edge__aboutMe {
  height: 60%;
}
.edge_icons {
  display: flex;
  justify-content: space-around;
  padding-bottom: 20px;
}
.edge_icons i {
  color: #f5f5f5;
}
.edge__aboutMe p {
  margin-top: 25px;
}
a {
  color: rgb(231, 203, 241);
  word-break: break-word;
}
/* unvisited link */

/* visited link */
a:visited {
  color: rgb(108, 201, 108);
}
/* mouse over link */
a:hover {
  color: rgb(230, 219, 236);
}

/*PAGE_CONTENT
*****************************************************************/
.page__content {
  width: 500px;
  padding: 25px;
  color: #707070;
}
.content__title {
  margin-top: 70px;
  margin-bottom: 70px;
  color: #424242;
}
.content__title--color {
  color: #382463;
}
.content__title--underline {
  border-bottom: 2px #382463 solid;
}
h1 {
  font-family: "aileronregular", Arial, Serif;
  font-size: 3.5em;
  margin-bottom: 0px;
}
i {
  color: #382463;
}
.title {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  border-bottom: 3px #382463 solid;
}
.title h2 {
  margin-left: 20px;
  color: #424242;
}
.content {
  display: flex;
  margin-bottom: 10px;
  margin-top: 10px;
}
.content__date {
  display: flex;
  flex-direction: row;
  margin-right: 20px;
  width: 100px;
}
.content__text {
  width: 300px;
}
.content p {
  margin-top: 0px;
  margin-left: 10px;
  text-align: justify;
}
h3 {
  margin-top: 0px;
  margin-bottom: 5px;
  color: #424242;
}
.content__1 {
  margin: auto 10px;
  width: 220px;
}
/** RESPONSIVE DESIGN 
*******************************************************/
/*Tablettes*/
@media all and (max-width: 991px) {
  body {
    background-color: #3ba163;
  }

  .profile_picture_rd {
    margin-top: 25px;
    display: block;
    margin-left: 35%;
    border: 4px #382463 solid;
    border-radius: 100%;
    margin-bottom: 20px;
  }
  .aboutMe__rd {
    display: flex;
    justify-content: center;
    text-align: center;
    color: white;
    border: 2px #382463 solid;
    background-color: #382463;
    padding-right: 8px;
    padding-left: 8px;
    border-radius: 10px;
    margin-bottom: 20px;
  }
  .bloc_page {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    width: auto;
    border-radius: 10px;
  }
  .content__title {
    margin-top: 0px;
    padding-top: 0px;
    margin-bottom: 30px;
    padding-left: 10%;
  }
  h1 {
    margin-top: 0px;
    font-size: 35px;
  }
  .page__content {
    width: auto;
    padding: 25px;
  }

  h2 {
    font-size: 18px;
  }
  h3 {
    font-size: 16px;
  }
  .edge {
    background-color: #382463;
    width: auto;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 20px;
  }
  .edge__photo {
    display: none;
  }
  .edge_icons-linkedin i {
    display: none;
  }
  .edge_icons-linkedin-small i {
    color: white;
    margin-left: 20px;
  }
  .edge__contact__info {
    display: flex;
    flex-direction: row;
  }
  .edge__contact__info div {
    margin-right: 100px;
  }
  .content {
    width: auto;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 10px 10px 10px 10px;
    border-radius: 10px;
  }
  .content__1 {
    margin: auto;
    width: auto;
  }

  .edge__aboutMe {
    display: none;
  }
}

/*Telephone*/
@media screen and (max-width: 425px) {
  .profile_picture_rd {
    margin-left: 25%;
  }
  .edge {
    width: auto;
  }
  .edge p {
    width: auto;
    margin-right: auto;
  }
  .edge_icons {
    display: flex;
    justify-content: center;
  }
  .edge__contact__info div {
    margin-right: auto;
  }
  .edge_icons-linkedin {
    margin-left: auto;
  }
  .content {
    width: auto;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding: 10px 10px 10px 10px;
  }
  .content__text {
    width: auto;
    justify-content: center;
  }
  .content__date {
    width: auto;
  }
  .bloc_page {
    width: auto;
    margin: auto;
    box-shadow: 0px 4px 5px #eeebeb;
  }
  .edge_icons {
    display: flex;
    justify-content: space-evenly;
  }
  .content__1 {
    margin-left: 10px ;
    width: auto;
    
    
  }
}
