/************************** FONTS ******************************/

@font-face {
  font-family: "aileronregular";
  src: url("fonts/Aileron-Regular-webfont.eot");
  src: url("fonts/Aileron-Regular-webfont.eot?#iefix")
      format("embedded-opentype"),
    url("fonts/Aileron-Regular-webfont.woff2") format("woff2"),
    url("fonts/Aileron-Regular-webfont.woff") format("woff"),
    url("fonts/Aileron-Regular-webfont.ttf") format("truetype"),
    url("fonts/Aileron-Regular-webfont.svg#aileronregular") format("svg");
  font-weight: normal;
  font-style: normal;
}

/**********************************************BODY************************************************************/
.bloc_page {
  display: flex;
  flex-direction: row;
  max-width: 800px;
  margin: 40px auto;
  box-shadow: 0px 4px 5px #cccccc;
}

.edge {
  display: flex;
  flex-direction: column;
  background-color: #16a085;
  width: 300px;
}

.profile_picture_rd {
  display: none;
}
.aboutMe__rd {
  display: none;
}
/****************************************** edge *****************************************************/
.edge {
  border-radius: 5px;
}
.edge__photo {
  border-radius: 100%;
  display: block;
  justify-content: center;
  margin-top: 50px;
  margin-bottom: 80px;
  margin-right: 30px;
  margin-left: 30px;
  border: 3px #f5f7f6f5 solid;
}
.edge__title {
  text-align: center;
  background-color: #f5f7f6f5;
  font-size: 1.1em;
  color: #16a084ef;
  padding-top: 5px;
  padding-bottom: 5px;
  border: 3px #16a085 solid;
  border-radius: 5px;
}
.edge p {
  margin-left: 20px;
  margin-right: 20px;
  font-size: 0.9em;
  text-align: justify;
}
.edge__contact {
  height: 20%;
}
.edge__contact__info {
  margin-left: 5px;
}
.edge__aboutMe {
  height: 60%;
}
.edge_icons {
  display: flex;
  justify-content: space-around;
  padding-bottom: 20px;
}
.edge_icons i {
  color: #171818;
}
.edge__aboutMe p {
  margin-top: 25px;
}
/******************************************* content ***************************************************/
.content {
  width: 500px;
  padding: 25px;
}
.content__title {
  margin-top: 70px;
}
.content__title--color {
  color: #16a084e8;
}
.content__title--underline {
  border-bottom: 2px #16a084e8 solid;
}
h1 {
  font-family: "aileronregular", Arial, Serif;
  font-size: 3.5em;
  margin-bottom: 0px;
}
i {
  color: #16a084e8;
}
.training__title {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  border-bottom: 3px #16a084e8 solid;
}
.training__title h2 {
  margin-left: 20px;
  margin-top: 95px;
}
.experience__title {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  border-bottom: 3px #16a084e8 solid;
}
.experience__title h2 {
  margin-left: 20px;
  margin-top: 95px;
}
.recommendation__title {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  border-bottom: 3px #16a084e8 solid;
}
.recommendation__title h2 {
  margin-left: 20px;
  margin-top: 95px;
}
.recommendation__content {
  display: flex;
  flex-direction: row;
}
.recommendation__content__1 {
  margin-right: 200px;
}
.experience__content,
.training__content {
  display: flex;
  flex-direction: row;
}
.left__section__content {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  width: 200px;
}
.left__section__content p {
  margin-left: 20px;
  margin-bottom: 190px;
}
.right__section__content {
  margin-left: 20px;
}
.right__section__content p {
  text-align: justify;
}
/*********************************************r RESPONSIVE DESIGN *******************************************************/
@media all and (max-width: 900px) {
  .profile_picture_rd {
    margin-top: 25px;
    display: block;
    margin-left: 35%;
    border: 4px #16a084e8 solid;
    border-radius: 100%;
  }
  .aboutMe__rd {
    display: flex;
    justify-content: center;
    border: 2px #16a084e8 solid;
    background-color: #16a084e8 ;
    padding-left: 10px;
    border-radius: 10px;
  }
  .bloc_page {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    width: auto;
  }
  .content__title {
    margin-top: 0px;
    padding-top: 0px;
    padding-left: 20%;
  }
  h1 {
    margin-top: 0px;
  }
  .content {
    width: auto;
    padding: 25px;
  }
  .edge {
    background-color: #16a084e8;
    width: auto;
    padding-left: 10px;
    padding-right: 10px;
  }
  .edge__photo {
    display: none;
  }
  .recommendation__content__1 {
    margin-right: 100px;
  }
  .edge__contact__info {
    display: flex;
    flex-direction: row;
  }
  .edge__contact__info div {
    margin-right: 150px;
  }
  .left__section__content p {
    margin-bottom: 150px;
  }
  .edge__aboutMe {
    display: none;
  }
}
